/*
        Why are you here? Go away.

             *     ,MMM8&&&.            *
                  MMMM88&&&&&    .
                 MMMM88&&&&&&&
     *           MMM88&&&&&&&&
                 MMM88&&&&&&&&
                 'MMM88&&&&&&'
                   'MMM8&&&'      *
          |\___/|
          )     (             .              '
         =\     /=
           )===(       *
          /     \
          |     |
         /       \
         \       /
  _/\_/\_/\__  _/_/\_/\_/\_/\_/\_/\_/\_/\_/\_
  |  |  |  |( (  |  |  |  |  |  |  |  |  |  |
  |  |  |  | ) ) |  |  |  |  |  |  |  |  |  |
  |  |  |  |(_(  |  |  |  |  |  |  |  |  |  |
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |
*/

* {
  margin: 0;
  padding: 0;

  text-align: center;
  font-family: Open Sans, Sans-Serif;
}

html, body {
  width: 100%;
  height: 100%;
  background-size: 100%;
}

canvas {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

.preload * {
  opacity: 0.0;
}

.padFullPage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: -999;
}

#topHeader {
  padding-top: 50px;
  font-size: 5em;
}

#subHeader {
  padding-top: 10px;
  font-size: 1em;
  color: #CCC;
}

#viewResumeHover, #photoLink {
  margin: 60px 80px 60px 60px;
}

#viewResumeHover a, #photoLink a {
  color: inherit;
  text-decoration: none;
}

#miniResume {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 175%;
  color: #CCC;

  opacity: 0.0;

  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
       -o-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}

#viewResumeHover:hover ~ #miniResume {
  opacity: 1.0;
}

#viewResumeHover:active ~ #miniResume {
  opacity: 1.0;
}

.border {
  padding: 10px;
  display: inline-block;
  border-width: 3px;
  border-style: solid;
}

.rMain {
  color: #000;
}

.obfuscateEmail:before {
  content: attr(dsite) "\0040" attr(duser);
  unicode-bidi: bidi-override;
  direction: rtl;
}
